---
---

<!DOCTYPE html>
<html>

{% include head.html %}

 <body>
 
	<!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/emmser">View on GitHub</a>
          
          <!--<img src="140313-hage4.JPG" alt="Huvudbild" style="width:100px;height:150px">-->
          <div class="site-info">
            <h1 class="site-name">
            <a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          
          <h1 id="project_title">Siljas Ballerina</h1>

          <!-- NAVIGERING -->
          <nav>
            <a href="{{ site.baseurl }}/">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
          </nav>


        </header>
    </div>

	<div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

	<!-- Content of page -->
    {{ content }}

		</section>
	</div> 

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>
    
   	



{% include foot.html %}
